<!-- Mobile view  -->

<div class="mobile-view">
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <button mat-button color="primary">Home</button>
      <button mat-button color="primary">Service</button>
      <button mat-button color="primary">contact</button>
    </mat-drawer>

    <div class="sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span> Vajro Test Store </span>

          <span class="spacer"></span>
          <mat-icon matBadge="4" matBadgeColor="warn">add_shopping_cart</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <!-- Virtual scrolling of the mobile  view  -->

    <cdk-virtual-scroll-viewport itemSize="50" class="scroll">
      <div class="list">


      <!-- ngFor useing parsing the all data  with the order -->
      <!-- ngIf display depending up on the drag they check true or false -->
      
        <div *ngFor="let values of all">
          <div class="slider" *ngIf="values.type==='carousel'">
            <ui-carousel *ngIf="values.users" [infinite]="true" [fade]="false" [speed]="200" height="220px" width="300px">

              <ui-carousel-item *ngFor="let user of values.users">
                <img [src]="user.image" />
              </ui-carousel-item>
            </ui-carousel>
          </div>

          <div class="style" *ngIf="values.type==='image_grid'">
            <div class="image_grid" *ngFor="let user of values.users">
             <div class="image_source"> <img [src]="user.image"/></div>
             <div class="image_text"> <h3>{{user.name}}</h3></div>
            </div>
          </div>


          <div *ngIf="values.type==='image'">
            <div class="image" *ngFor="let user of values.users">
              <img [src]="user.image" />
            </div>
          </div>

          <div *ngIf="values.type==='product'">
            <span fxLayout="row" fxLayoutAlign="center center">New Arrivals</span>

            <div class="product-view">
              <mat-card class="product-inside-view" *ngFor="let user of values.users">
                <img mat-card-image [src]="user.image_url" />
                <mat-card-content>
                  <p>{{ user.title }}</p>
                  <h4>$ {{ user.selling_price }}</h4>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-drawer-container>
</div>