
/* sidenav appbar view */

.mobile-view {
  position: block;
  width: 320px;
  height: 100px;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
}

/* virtual scroller */

.scroll {
  position: block;
  width: 310px;
  height: 500px;
  border: solid;
}


/* cursol view  */

.slider {
  max-width: 300px;
}

.slider img {
  height: 230px;
  width: 300px;
}



/* image grid view  */

.style{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 20px;
  padding:4px;
}
.style .image_grid {
 
  position: relative;
 /* text-align: center; */
  
}
.style .image_grid  img{
  padding: 10px;
  /* text-align: center; */
  height:130px;
  width: 130px;
}

.style .image_source{
  cursor:pointer;
      position: relative;
      display: block;
    }
  
  .image_text{
        position: absolute;
        top: 50px; right: 0;
        bottom: 0; left: 10px;
        opacity: 0;
        vertical-align: middle;
        text-align: center;
  

    }
  
    .image_text:hover{
        opacity: 1;      
    }
  
    .image_text h3{
        color:white;
        display: inline-table;
         vertical-align:middle;
         line-height:100%;            
    }


/* Banner Grid, Instagram Grid */


.image {
  display: inline;
  grid-template-columns: 100px 100px;
  grid-gap: 10px;
}
.image img {
  padding: 10px;
  height:130px;
  width: 130px;
}


/* Product grid */

.product-view{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 20px;
  padding:4px;
}

.product-inside-view {
  
 max-width: 115px;
}




