
/* sidenav appbar view */

.mobile-view {
  position: block;
  width: 320px;
  height: 100px;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}

.spacer {
  flex: 1 1 auto;
}

/* virtual scroller */

.scroll {
  position: block;
  width: 310px;
  height: 500px;
  border: solid;
}


/* cursol view  */

.slider {
  max-width: 300px;
}

.slider img {
  height: 230px;
  width: 300px;
}


/* Image grid  */

.image_grid {
  display: inline;
  grid-template-columns: 100px 100px;
  grid-gap: 10px;
  
}
.image_grid > div img{
  padding: 10px;
  text-align: center;
  height:130px;
  width: 130px;
}




/* Banner Grid, Instagram Grid */


.image {
  display: inline;
  grid-template-columns: 100px 100px;
  grid-gap: 10px;
}
.image img {
  padding: 10px;
  height:130px;
  width: 130px;
}


/* Product grid */

.product-view{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 20px;
  padding:4px;
}

.product-inside-view {
  
 max-width: 115px;
}




