<section class="list">
  <mat-accordion multi="true" >

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>
          Slider Images
        </mat-panel-title>

        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]="users1"></app-common-body>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle >
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>

          Image Grid
        </mat-panel-title>
        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]="users2"></app-common-body>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>apps</mat-icon>

          Banner Images
        </mat-panel-title>
        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]="users3"></app-common-body>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>

          Product Grid
        </mat-panel-title>

        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <div 
      cdkDropList 
      #todoList="cdkDropList"
      [cdkDropListData]="users4"
      [cdkDropListConnectedTo]=""
      (cdkDropListDropped)= "drop($event)"    
    >

        <mat-card class="card" *ngFor="let user of users4" cdkDrag>
          <img mat-card-image src="{{ user.image_url }}" />
          <mat-card-content>
            <p>{{ user.title }}</p>
            <h4>$ {{ user.selling_price }}</h4>
          </mat-card-content>

          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle>
              <mat-button-toggle>Upload</mat-button-toggle>
            </mat-button-toggle>
            <mat-button-toggle>
              <mat-button-toggle (click)="onEdit()">Edit</mat-button-toggle>
            </mat-button-toggle>
            <mat-button-toggle value="right">
              <mat-icon (click)="onDelete()"> delete</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card>
      </div>
      <div>
        <mat-action-row fxLayout="row" fxLayoutAlign="end center">
          <button mat-stroked-button color="primary">
            <mat-icon>bookmarks</mat-icon>
          </button>
          <button mat-stroked-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-stroked-button color="primary">Hide</button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>

          Instagram Grid
        </mat-panel-title>

        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <div 
      cdkDropList 
      #todoList="cdkDropList"
      [cdkDropListData]="users5"
      [cdkDropListConnectedTo]=""
      (cdkDropListDropped)= "drop($event)" 
      >
      <mat-card class="card" *ngFor="let user of users5" cdkDrag>
        <img mat-card-image src="{{ user.imageUrl }}" />

        <mat-card-actions>
          <mat-button-toggle-group
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <mat-button-toggle>Upload</mat-button-toggle>
            <mat-button-toggle (click)="onEdit()">Edit</mat-button-toggle>
            <mat-button-toggle>
              <mat-icon (click)="onDelete()">delete</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>

      </div>
      <div>

      <mat-action-row fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="primary">
          <mat-icon>bookmarks</mat-icon>
        </button>
        <button mat-stroked-button color="primary">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button color="primary">Hide</button>
      </mat-action-row>

      </div>
    </mat-expansion-panel>


  </mat-accordion>
</section>
