

.list{
    position: block;
    width: 850px;
    height: 100px;
}


.main-view{
    position: relative;
    top:30px;
    left:20px;
}

.title-text{
    padding: 0.5em;

}

.mobile-view{
    position: absolute;
    top: 30px;
    right: 50px;
}

