mat-panel-title{


}

mat-icon{

}

.list{
    position: block;
    width: 850px;
    height: 100px;
}

.body-info{
    display: inline-block;
    gap: 20px;
}


.card {
    display: inline-grid;
    max-width: 210px;
    /* margin: auto; */
   

  }
  

 img{
     height:240px ;
     width: 240px ;

 }