<div fxLayout="column" fxLayoutAlign="space-evenly start">
  <section class="list">
    <!-- Expansion pannel  -->

    <mat-accordion multi="false">

      <div cdkDropList (cdkDropListDropped)="drop($event)" >

      <mat-expansion-panel hideToggle *ngFor="let data of all" cdkDrag>
        <!-- Expansion pannel header section -->

        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>apps</mat-icon>
            {{ data.title }}
          </mat-panel-title>

          <div>
            <button mat-stroked-button color="primary">Customise</button>
          </div>
        </mat-expansion-panel-header>

        <!-- get the common data from the child component to parent component  -->

        <app-common-body [(users)]="data.users" ></app-common-body>

      </mat-expansion-panel>
      </div>
    </mat-accordion>
  </section>
</div>

<div class="mobile-view" fxLayout="column" fxLayoutAlign="start end">
  <app-sub

    [users1]="users1"
    [users2]="users2"
    [users3]="users3"
    [users4]="users4"
    [users5]="users5"

   
  ></app-sub>
</div>
