
<div fxLayout="column" fxLayoutAlign="space-evenly start"> 

<section class="list" >
  <mat-accordion multi="false" >

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center" class="title-align">
          <mat-icon>apps</mat-icon>
          Slider Images
        </mat-panel-title>

        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]="users1"></app-common-body>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle >
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>

          Image Grid
        </mat-panel-title>
        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]="users2"></app-common-body>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>apps</mat-icon>

          Banner Images
        </mat-panel-title>
        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]="users3"></app-common-body>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>

          Product Grid
        </mat-panel-title>

        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]='users4' type='product'></app-common-body>

     
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>apps</mat-icon>

          Instagram Grid
        </mat-panel-title>

        <div>
          <button mat-stroked-button color="primary">Customise</button>
        </div>
      </mat-expansion-panel-header>

      <app-common-body [users]= "users5"></app-common-body>

     
    </mat-expansion-panel>


  </mat-accordion>
</section>

</div>


<div class="mobile-view"  fxLayout="column" fxLayoutAlign="start end"> 
  <app-sub></app-sub>
</div>