

<div mat-dialog-content fxLayout="column" fxLayoutAlign="space-between center">
<p>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title">
          </mat-form-field>
          <button mat-button color="primary" [mat-dialog-close]="rep" (click)="titleSnackBar()">Save</button>

</p>
<p>

          <mat-form-field appearance="outline">
              <mat-label>Redirect Url</mat-label>
              <input matInput placeholder="Redirect Url">
            </mat-form-field>
            <button mat-button color="primary" [mat-dialog-close]="rep" (click)="redirectSnackBar()">Save</button>


      </p>

</div>
