




<router-outlet></router-outlet>





<!-- 
<section class="list"> 

    <mat-accordion multi="true"> 
        <mat-expansion-panel>


          <mat-expansion-panel-header>

            <mat-panel-title> 
                <mat-icon>apps</mat-icon>
                Slider Images
            </mat-panel-title>
          </mat-expansion-panel-header>
          

          <ng-template matExpansionPanelContent>

              <mat-card class="card">
                  
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                  </mat-card-content>

                  <mat-button-toggle-group #group="matButtonToggleGroup">
                      <mat-button-toggle>
                          <mat-button-toggle >Upload</mat-button-toggle>
                        </mat-button-toggle>
                      <mat-button-toggle >
                          <mat-button-toggle >Edit</mat-button-toggle>
                      </mat-button-toggle>
                      <mat-button-toggle value="right">
                        <mat-icon>delete</mat-icon>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                
                </mat-card>

          </ng-template>
      
        
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Image Grid
            </mat-panel-title>
          </mat-expansion-panel-header>

          
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Banner Images
            </mat-panel-title>
          </mat-expansion-panel-header>

          
        </mat-expansion-panel>



        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Product Grid
            </mat-panel-title>
          </mat-expansion-panel-header>

          
        </mat-expansion-panel>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
                Instagram Grid
            </mat-panel-title>
          </mat-expansion-panel-header>

          
        </mat-expansion-panel>
      </mat-accordion>
</section> -->