<div class="list" 
  cdkDropList 
  #todoList="cdkDropList"
  [cdkDropListData]="users"
  [cdkDropListConnectedTo]=""
  (cdkDropListDropped)= "drop($event)">
  <mat-card class="card" *ngFor="let user of users" cdkDrag >
    <img mat-card-image src="{{ user.image }}" />

    <mat-card-actions>
      <mat-button-toggle-group
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <mat-button-toggle>Upload</mat-button-toggle>
        <mat-button-toggle (click)="onEdit()">Edit</mat-button-toggle>
        <mat-button-toggle>
          <mat-icon (click)="onDelete()">delete</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
</div>

  <mat-action-row fxLayout="row" fxLayoutAlign="end center">
    <button mat-stroked-button color="primary">
      <mat-icon>bookmarks</mat-icon>
    </button>
    <button mat-stroked-button color="primary">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-stroked-button color="primary">Hide</button>
  </mat-action-row>
